/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 0px;
padding-right: 0px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


@media only screen and (min-width: 1400px) {
	.row {
		max-width: 1460px !important;
	}

	body {
		font-size: 30px !important;
	}

	#popular .devices {
		padding: 95px 0 0 0 !important;
	}

	#modes .modes {
		padding: 75px 0 0 0 !important;
	}

	#clutter .clutter {
		padding: 130px 0 0 0 !important;
	}

	#colorful .ruler {
		padding: 115px 0 0 0 !important;
	}

	#default .default {
		padding: 85px 0 0 0 !important;
	}
}

/* Mobile */

@media only screen and (max-width: 937px) {

	body {
	font-size: 0.7px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

	.devices, .modes, .ruler, .clutter, .default {
		padding: 0 !important;
	}

	#popular, #modes, #clutter, #colorful, #default {
		padding: 0 0 30px 0 !important;
	}

	#popular .devices img, #modes .modes img, #clutter .clutter img, #colorful .ruler img, #default .default img {
		display: none !important;
	}

	#intro {
		font-size: 1.62em !important;
		padding: 0 0 75px 0 !important;
	}

	.mobile-image {
		display: inline !important;
		text-align: center;
		padding: 25px 0;
	}

	#upper-content, #lower-content {
		padding: 75px 0 !important;
	}

	#upper-content .fivecol {
		text-align: center !important;
	}

	#upper-content p {
		padding: 0 30px 0 30px;
	}

	#download {
		margin-top: 25px !important;
		width: 75% !important;
	}

	#supported {
		display: none;
	}

	#popular h3, #how-to h3 {
		padding: 0 0 20px 0 !important;
	}

	footer p {
		font-size: 0.6em !important;
	}

	h3 {
		font-size: 1.2em !important;
		padding: 30px 0 20px 0 !important;
	}


}

@media only screen and (max-width: 480px) {
	header {
		height: 199px !important;
	}

	header #logo {
		line-height: 260px !important;
	}

	.mobile-image {
		display: none !important;
	}

	#upper-content {
		padding: 50px 0 !important;
	}

	#upper-content .fivecol {
		text-align: left !important;
	}

	#upper-content p {
		padding: 0 0 30px 0;
	}

	#intro {
		display: none;
	}

	#supported, #lower-content {
		display: none;
	}

	#upper-content {
		border-bottom: 1px solid #000000 !important;
	}

	footer {
		background-image: url(../images/dark-bg.jpg);
	}

	footer p {
		font-size: 0.5em !important;
	}

	h3 {
		font-size: 0.9em !important;
		padding: 10px 0 !important;
	}

	#popular, #modes, #clutter, #colorful, #default {
		padding: 0 !important;
	}

	#download {
		margin-top: 10px !important;
		min-width: 305px !important;
	}

}