/* ------------------------------------------------------------

	Originally developed by: CleatsandCode.
	Modified by: Branden Silva (www.brandensilva.com)

	This file contains a mixture of mobile, tablet, 
	and desktop media queries for popular Apple products.

	We highly recommend that you use media query breakpoints 
	which look best with your content and targets your users. 

	This template is here to get you started but please don't 
	hesitate to tweak or build your own flavor.

------------------------------------------------------------ */

/* Required Wood Cuttr CSS */
#viewport {
	color: #FFF; 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 15px; 
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	min-width: 320px;
	position: fixed; 
	top: 0; 
	width: 100%; 
	z-index: 987654321;
}

#sizeInfo {
	position: absolute; 
	right: 15px; 
}

#viewport #ruler {
  background: -webkit-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -moz-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -o-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -ms-linear-gradient(right, #FFF 1px, transparent 1px);
	background: linear-gradient(right, #FFF 1px, transparent 1px);
	-moz-background-size: 100px;
	-webkit-background-size: 100px;
	background-size: 100px;
	height: 100px;
	position: absolute;
	top: -90px;
	width: 100%;
}

#viewport #ruler .small {
  background: -webkit-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -moz-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -o-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -ms-linear-gradient(right, #FFF 1px, transparent 1px);
	background: linear-gradient(right, #FFF 1px, transparent 1px);
	-moz-background-size: 10px;
	-webkit-background-size: 10px;
	background-size: 10px;
	display: block;
	height: 1000px;
	position: relative;
	top: -905px;
	width: 100%;
} /* End of Required CSS */

/* --- Media Queries: Organized from largest to smallest. --- */

/* Larger than most current resolutions on market */
@media only screen and (min-width: 2801px) {
	
	#viewport::before {
		color: #FFF;
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(0, 0, 0, 1); }

} 

/* Apple 15.4-inch MacBook Pro Retina */
@media only screen and (min-width: 2561px) and (max-width: 2800px) {
	
	#viewport::before {
		color: #FFF;
		content: "15.4-inch MacBook Pro Retina ≤ 2800px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(197, 179, 93, 1); }

} /* End 15.4-inch MacBook Pro Retina */

/* Apple 27-inch iMac, Apple 13.3-inch MacBook Pro Retina */
@media only screen and (min-width: 2049px) and (max-width: 2560px) {
	
	#viewport::before {
		color: #FFF;
		content: "27-inch iMac, 13.3-inch MacBook Pro Retina ≤ 2560px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(75, 75, 75, 1); }

} 

/* Apple iPad Retina */
@media only screen and (min-width: 1921px) and (max-width: 2048px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPad Retina ≤ 2048px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(6, 49, 159, 1); }

} 

/* Apple 21.5-inch iMac */
@media only screen and (min-width: 1537px) and (max-width: 1920px) {
	
	#viewport::before {
		color: #FFF;
		content: "21.5-inch iMac ≤ 1920px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(94, 102, 48, 1); }

} 

/* 13.3-inch MacBook Pro Retina */
@media only screen and (min-width: 1537px) and (max-width: 1600px) {
	
	#viewport::before {
		color: #FFF;
		content: "13.3-inch MacBook Pro Retina ≤ 1600px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(123, 110, 182, 1); }

} 

/* Apple iPad Retina */
@media only screen and (min-width: 1441px) and (max-width: 1536px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPad Retina ≤ 1536px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(175, 160, 75, 1); }

} 

/* Apple 15.4-inch MacBook Pro */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
	
	#viewport::before {
		color: #FFF;
		content: "15.4-inch MacBook Pro ≤ 1440px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(13, 113, 0, 1); }

} 

/* Apple 13.3-inch MacBook Pro */
@media only screen and (min-width: 1137px) and (max-width: 1280px) {
	
	#viewport::before {
		color: #FFF;
		content: "13.3-inch MacBook Pro ≤ 1280px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(182, 125, 110, 1); }

} 

/* Apple iPhone 5 */
@media only screen and (min-width: 1025px) and (max-width: 1136px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone 5  ≤ 1136px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(210, 13, 147, 1); }

} 

/* Apple iPad, Apple iPad Mini */
@media only screen and (min-width: 961px) and (max-width: 1024px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPad  ≤ 1024px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(156, 75, 175, 1); }

} 

/* Apple iPhone 4 */
@media only screen and (min-width: 769px) and (max-width: 960px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone 4  ≤ 960px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(28, 102, 176, 1); }

} 

/* Apple iPad, Apple iPad Mini */
@media only screen and (min-width: 641px) and (max-width: 768px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPad  ≤ 768px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(24, 127, 150, 1); }

} 

/* Apple iPhone 4, Apple iPhone 5 */
@media only screen and (min-width: 481px) and (max-width: 640px) {
	
	#viewport::before {
		color: #FFF;
		content: "↕ iPhone 4, iPhone 5 ≤ 640px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(145, 81, 13, 1); }

}

/* Apple iPhone */
@media only screen and (min-width: 321px) and (max-width: 480px) {
	
	#viewport::before {
		color: #FFF;
		content: "↔ iPhone ≤ 480px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(204, 115, 20, 1); }

}

/* Apple iPhone */
@media only screen and (max-width: 320px) {
	
	#viewport::before {
		color: #FFF;
		content: "↕ iPhone ≤ 320px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(186, 10, 15, 1); }

}