/*
	Originally developed by: CleatsandCode.
	Modified by: Branden Silva (www.brandensilva.com)

	This file contains a mixture of mobile, tablet, and desktop media queries
	for popular Apple products.

	We highly recommend that you use media query breakpoints which looks best 
	with your content and targets your users. This template is here to get you
	started but please don't hesitate to tweak or build your own flavor.
*/


/* Required CSS */
#viewport {
	color: #FFF; 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 15px; 
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	min-width: 320px;
	position: fixed; 
	top: 0; 
	width: 100%; 
	z-index: 987654321;
}

#sizeInfo {
	position: absolute; 
	right: 15px; 
}

#viewport #ruler {
  background: -webkit-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -moz-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -o-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -ms-linear-gradient(right, #FFF 1px, transparent 1px);
	background: linear-gradient(right, #FFF 1px, transparent 1px);
	-moz-background-size: 100px;
	-webkit-background-size: 100px;
	background-size: 100px;
	height: 100px;
	position: absolute;
	top: -90px;
	width: 100%;
}

#viewport #ruler .small {
  background: -webkit-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -moz-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -o-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -ms-linear-gradient(right, #FFF 1px, transparent 1px);
	background: linear-gradient(right, #FFF 1px, transparent 1px);
	-moz-background-size: 10px;
	-webkit-background-size: 10px;
	background-size: 10px;
	display: block;
	height: 1000px;
	position: relative;
	top: -905px;
	width: 100%;
}
/* End of Required */

/* --- Media Queries: Organized from largest to smallest. --- */

/* Dual Monitors: 2561 or greater */
@media only screen and (min-width: 2561px) {
	
	#viewport::before {
		color: #FFF;
		content: "Dual Monitors: 2561px or greater";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(0, 0, 0, 1); }

} /* End Dual Monitors Media Query */

/* 27 inch iMac Landscape: 1921px - 2560px */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	
	#viewport::before {
		color: #FFF;
		content: "27 inch iMac Landscape: 1921px - 2560px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(24, 127, 150, 1); }

} /* End 27 inch iMac Landscape Media Query */

/* 21.5 inch iMac Landscape: 1137px - 1920px */
@media only screen and (min-width: 1137px) and (max-width: 1920px) {
	
	#viewport::before {
		color: #FFF;
		content: "21.5 inch iMac Landscape: 1137px - 1920px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(210, 13, 147, 1); }

} /* End 21.5 inch iMac Landscape Media Query */

/* iPhone 5 Landscape: 1025px - 1136px */
@media only screen and (min-width: 1025px) and (max-width: 1136px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone 5 Landscape: 1025px - 1136px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(156, 75, 175, 1); }

} /* End iPhone 5 Landscape Media Query */

/* iPad Landscape: 961px - 1024px */
@media only screen and (min-width: 961px) and (max-width: 1024px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPad Landscape: 961px - 1024px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(28, 102, 176, 1); }

} /* End iPad Landscape Media Query */

/* iPhone 4 Landscape: 769px - 960px */
@media only screen and (min-width: 769px) and (max-width: 960px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone 4 Landscape: 769px - 960px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(24, 127, 150, 1); }

} /* End iPhone 4 Landscape Media Query */

/* iPad Portrait: 641 - 768px */
@media only screen and (min-width: 641px) and (max-width: 768px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPad Portrait: 641px - 768px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(145, 81, 13, 1); }

} /* End iPad Portrait Media Query */



/* iPhone 4 & iPhone 5 Portrait: 481px - 640px */
@media only screen and (min-width: 481px) and (max-width: 640px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone 4 & iPhone 5 Portrait: 481px - 640px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(145, 81, 13, 1); }

} /* End iPhone 4 & iPhone 5 Portrait Media Query */


/* iPhone Landscape: 321px - 480px */
@media only screen and (min-width: 321px) and (max-width: 480px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone Landscape: 321px - 480px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(204, 115, 20, 1); }

} /* End iPhone Landscape Media Query */

/* iPhone Portrait: 320px */
@media only screen and (max-width: 320px) {
	
	#viewport::before {
		color: #FFF;
		content: "iPhone Portrait: 0 < 320px";
		font-weight: normal;
		left: 15px;
		line-height: 50px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(186, 10, 15, 1); }

} /* End iPhone Portrait Media Query */