/* ------------------------------------------------------------

	Originally developed by: CleatsandCode.
	Enhanced by: Branden Silva (www.brandensilva.com)

	This file contains a mixture of mobile, tablet, desktop,
	and television media queries. It's merely a guideline 
	to get started. 

	We highly recommend that you use media query breakpoints 
	which look best with your content and targets your users. 

	This template is here to get you started but please don't 
	hesitate to tweak or build your own flavor. 

------------------------------------------------------------ */


/* Required Wood Cuttr CSS */
#viewport {
	color: #FFF; 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 15px; 
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	min-width: 320px;
	position: fixed; 
	top: 0; 
	width: 100%; 
	z-index: 987654321;
}

#sizeInfo {
	position: absolute; 
	right: 15px; 
}

#viewport #ruler {
  background: -webkit-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -moz-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -o-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -ms-linear-gradient(right, #FFF 1px, transparent 1px);
	background: linear-gradient(right, #FFF 1px, transparent 1px);
	-moz-background-size: 100px;
	-webkit-background-size: 100px;
	background-size: 100px;
	height: 100px;
	position: absolute;
	top: -90px;
	width: 100%;
}

#viewport #ruler .small {
  background: -webkit-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -moz-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -o-linear-gradient(right, #FFF 1px, transparent 1px);
	background: -ms-linear-gradient(right, #FFF 1px, transparent 1px);
	background: linear-gradient(right, #FFF 1px, transparent 1px);
	-moz-background-size: 10px;
	-webkit-background-size: 10px;
	background-size: 10px;
	display: block;
	height: 1000px;
	position: relative;
	top: -905px;
	width: 100%;
} /* End of Required CSS */

/* --- Media Queries: Organized from largest to smallest. --- */

/* Dual Monitors or Dual TVs */
@media only screen and (min-width: 4097px) {

	#viewport::before {
		color: #FFF;
		content: "Dual Monitors or Dual TVs: 4097px or greater";
		left: 15px;
		position: absolute;
		top: 0;
	}
		
	#viewport { background-color: rgba(0, 0, 0, 1); }

} 

/* 4K TV */
@media only screen and (min-width: 2561px) and (max-width: 4096px) {

	#viewport::before {
		color: #FFF;
		content: "4K TV ≤ 4096px";
		left: 15px;
		position: absolute;
		top: 0;
	}
		
	#viewport { background-color: rgba(175, 160, 75, 1); }

} /* End 4K TV */

/* Large Desktop */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {

	#viewport::before {
		color: #FFF;
		content: "Large Desktop ≤ 2560px";
		left: 15px;
		position: absolute;
		top: 0;
	}
		
	#viewport { background-color: rgba(13, 113, 0, 1); }

} 

/* 1080p TV */
@media only screen and (min-width: 1601px) and (max-width: 1920px) {

	#viewport::before {
		color: #FFF;
		content: "1080p TV ≤ 1920px";
		left: 15px;
		position: absolute;
		top: 0;
	}
		
	#viewport { background-color: rgba(156, 75, 175, 1); }

}

/* Medium Desktop */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {

	#viewport::before {
		color: #FFF;
		content: "Medium Desktop ≤ 1600px";
		left: 15px;
		position: absolute;
		top: 0;
	}
		
	#viewport { background-color: rgba(24, 127, 150, 1); }

} 

/* 720p TV */
@media only screen and (min-width: 1201px) and (max-width: 1280px) {

	#viewport::before {
		color: #FFF;
		content: "720p TV ≤ 1280px";
		left: 15px;
		position: absolute;
		top: 0px;
	}
		
	#viewport { background-color: rgba(114, 118, 101, 1); }

} 

/* Small Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

	#viewport::before {
		color: #FFF;
		content: "Small Desktop ≤ 1200px";
		left: 15px;
		position: absolute;
		top: 0;
	}
		
	#viewport { background-color: rgba(210, 13, 147, 1); }

}

/* Tablet Landscape */
@media only screen and (min-width: 900px) and (max-width: 1024px) {

	#viewport::before {
		color: #FFF;
		content: "↔ Tablet ≤ 1024px";
	  left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(28, 102, 176, 1); }

}


/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 899px) {
	
	#viewport::before {
		color: #FFF;
		content: "↕ Tablet ≤ 899px";
	  left: 15px;
		position: absolute;
		top: 0;
	}
			
	#viewport { background-color: rgba(24, 127, 150, 1); }

}


/* Mobile */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	
	#viewport::before {
		color: #FFF;
		content: "↔ ↕ Mobile ≤ 767px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(145, 81, 13, 1); }

}


/* Mobile Landscape */
@media only screen and (min-width: 321px) and (max-width: 480px) {
	
	#viewport::before {
		color: #FFF;
		content: "↔ Mobile ≤ 480px";
		left: 15px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(204, 115, 20, 1); }

}

/* Mobile Portrait */
@media only screen and (max-width: 320px) {
	
	#viewport::before {
		color: #FFF;
		content: "↕Mobile ≤ 320px";
		left: 15px;
		min-width: 320px;
		position: absolute;
		top: 0;
	}

	#viewport { background-color: rgba(186, 10, 15, 1); }

}