/*
  Originally written by: cleatsandcode
  Modified by: Branden Silva (www.brandensilva.com)
  
  All sizes provided are merely rough guides for devices.
  Feel free to customise, add and remove as needed.
*/


/* Required CSS */
#viewport {
		color: #FFF; 
		font-family: Helvetica, Arial, sans-serif; 
		font-size: 0.9em; 
		height: 50px;
		left: 0;
		line-height: 50px;
		margin: 0 auto;
		min-width: 320px;
		position: fixed; 
		top: 0; 
		width: 100%; 
	}

#sizeInfo {
		float: right; 
		position: absolute; 
		right: 15px; 
	}
/* End of Required */
	
/* Normal Screens */
@media only screen and (min-width: 1025px) {
	body::before {
		color: #FFF;
		content: "Normal Screen (> 1024) active";
		display: block;
		font-family: Helvetica, Arial, sans-serif; 
		font-size: 12px; 
		font-weight: bold;
		left: 0;
		line-height: 25px; 
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 99;
	}

	#viewport {
		background-color: rgba(0, 0, 0, 1);
	}
} /* End Normal Screens */


/* Tablet Landscape */
@media only screen and (min-width: 900px) and (max-width: 1024px) {
	body::before {
		color: #FFF;
		content: "Tablet landscape media query (900 - 1024) active";
		display: block;
		font-family: Helvetica, Arial, sans-serif; 
		font-size: 12px; 
		font-weight: bold;
		left: 0;
		line-height: 25px; 
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 99;
	} 

	#viewport {
		background-color: rgba(28, 102, 176, 1);
	}
} /* End Tablet Landscape */

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 899px) {
	body::before {
		color: #FFF;
		content: "Tablet portrait media query (768 - 899) active";
		display: block;
		font-family: Helvetica, Arial, sans-serif; 
		font-size: 12px; 
		font-weight: bold;
		left: 0;
		line-height: 25px; 
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 99;
	}

	#viewport { 
		background-color: rgba(28, 149, 176, 1);
	}
} /* End Tablet Protrait */

/* Mobile */
@media only screen and (max-width: 767px) {
	body::before{
		color: #FFF;
		content: "Mobile  (0 - 767) active";
		display: block;
		font-family: Helvetica, Arial, sans-serif; 
		font-weight: bold;
		font-size: 12px; 
		left: 0;
		line-height: 25px; 
		position: absolute;
		right: 0;
		text-align: left;
		top: 0;
		z-index: 99;
	}

	#viewport {
		background-color: rgba(186, 15, 15, 1);
	}
} /* End Mobile */